body {
	color: #666666;
    font-family: helvetica;
    padding: 20px;

}

	.boardview {
    width: 50%;
    margin-left: 0;
}

.boardview table {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.boardview tbody {
}

.boardview tr {
}

.boardview td {
	height: 100%;
}

.boardview td.dead {
	background-color: grey;
}

.boardview td.alive {
	background-color: red;
}
button {
    font-size: 15px;
    height: 36px;
    margin-bottom: 40px;
    padding: 0 10px;
    margin-right: 20px;
      -moz-border-radius: 10px;
	border-radius: 10px;
    }
#testBoard {
    margin-top: 50px;
    }
#container {
	width:960px;
	margin: 0 auto;
	}
td {
	width:10px;
	height:10px;
	}
h1 { font-weight:normal;
	color:#ccc;
	font-size:48px;}
label {margin-right:20px;}