@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/backbone/src/BoardView.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/lib/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/lib/backbone.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/src/CellModel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/src/CellsCollection.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/src/BoardModel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/src/BoardView.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/src/Main.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
