.boardview {
	width: 100px;
	height: 100px;
}

.boardview table {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.boardview tbody {
	width: 100%;
	height: 100%;
}

.boardview tr {
	width: 100%;
	height: 100%;
}

.boardview td {
	width: 100%;
	height: 100%;
	background-color: grey;
}

.boardview. td.alive {
	background-color: red;
}